  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image:url(./assets/istockphoto-1481862788-1024x1024.jpg);
  }
  
  .button-group {
    margin-top: 2rem;
  }
  
  .btn {
    display: inline-block;
    padding: 2rem 2rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  /* Admin Styles */
  * {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    background-color: #3b5d50;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  main {
    padding: 20px;
    align-items: center;
    width: 100%;
  }
  
  .product-details{
    background-color:#f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 20px;

  }
  
  section {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 20px;
    background-color: #f4f4f4;
  }
  
  .product-list {
    margin-right: 0;
    margin-left: 20px;
    width: 100%;
    display: flex;
    z-index: 9999;
  }
  .products {
    display: flex;
    flex-direction: row;
  }
  .products li{
    list-style: none;
  }
  .product {
    width: 60%;
    height: 60%;
    border-radius: 10px;
    background-color:#f4f4f4;
    align-items: center;
    margin-bottom: 5rem;
    margin-right: 5rem;
    border: solid 1px #3b5d50;
  }
  
  .product img {
    object-fit: contain;
    width: 90%;
    height: 60%;
  }

  .product-actions button{

      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      margin: 0.5rem;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
  
    .product-actions button:hover {
      background-color: #555;
    }
  
  .product-details {
    width: 70%;
    height: auto;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 2%;
  }
  .form-actions button{

    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .form-actions button:hover {
    background-color: #555;
  }
  
  #product-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 2;
    width: 70%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    object-fit: fill;
    align-items: center;
    z-index: 9999;
}
.overlay-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  z-index: 9998;
  width: 300px;
}

.overlay-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1%;
} 

#overlay-img {
  width: 100px;
  height: 60px;
  margin-bottom: 10px;
}


/* #close-overlay button {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #251e1d; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-overlay button:hover {
  background-color: #ec4444; 
} */
  
  @media (max-width: 768px) {
    .product {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .product img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  footer {
    background-color:#3b5d50 ;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
